.playListTable {
    color: white;
    border-spacing: 0px 1em !important;

}
#table_id_wrapper{
    margin: 0em 1em;
}
.dataTables_wrapper {
    color: white;

    select {
    color: white;
    }
}
